/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  list-style-type: none;
  font-family: Suisse Intl;
  
}

@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);
@font-face {font-family: "Suisse Intl"; src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot"); src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff") format("woff"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.svg#Suisse Intl") format("svg"); }

:root {
  --main-steam-color: rgb(23,26,33);
  --main-bg-color: #1B2838;
  --steam-white: rgb(217,217,217);
  --main-left-margin: 1vh;
  --steam-blue: #acdbf5;
  --header-font-size: 1.7vh;
  --steam-contrast-blue: #B3DFFF;
  --discount-color: #a4d007;
  --discount-background-color: #4c6b22;
  --original-price-color: #7193a6;
  --daily-deal-color: #283846;
  --user-name-color: #c1dbf4;
  --low-opacity-color: #384959;
  --low-opacity-head-color: #c7d5e0;
}

body {
  display: flex;
  flex-flow: column;
  background-color: var(--main-bg-color);

}


main{
  margin-right: 1vh;
  margin-left: 1vh;
}
header img:first-of-type {
  width: 5%;
  max-width: 100%;
  padding: 1em;
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  
}

header nav {
  display: flex;
  top: 0;
  border-style: solid;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: var(--main-steam-color);
  background-color: var(--main-steam-color);
  
}

.hamMenu{
  display: none;
}

.hamMenu1{
  display: flex;
  flex-flow: column;
  background-color: red;
  width: 25%;
  height: 100vh;
  position: absolute;
  top: 0;
  
}

.menuImage {
  background-image: url(../images/header_menu_hamburger.png); 
  background-size: cover;
  width: 40px;
  height: 30px;
  margin-top: 5px;
}

header > section {
  background: linear-gradient(90deg, rgba(47,114,167,1) 27%, rgba(39,39,106,1) 67%, rgba(13,9,89,1) 100%); /*Source: https://cssgradient.io/*/
  display: flex;
  flex-flow: column wrap;
  color: var(--steam-white);
  font-size: 13px;
  line-height: 34px;
  text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
}

header section ul{
  display: flex;
  flex-flow: column wrap;
  margin-top: -0.9vh;
  margin-bottom: 1vh;
  margin-left: 1.5vh;
  padding-inline-start: 0;
}

header section li:first-of-type{
  margin-top: 1vh;
  
}

::placeholder{
  color: black;
  font-style:italic;
  font-size: 16px; /* change font*/
  
}
header form{
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0.2vh;
  position: relative;
  margin-right: 8px;
}
header input{
  background-color: rgb(95,131,155);
  margin-left: var(--main-left-margin);
  border: 1px solid rgba( 0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgb(0 0 0 / 40%);
  border-radius: 3px;
  display: flex;
  flex-grow: 1;
  height: 27px;
  
}

header button{
  background-image: url(..//images/search_icon_btn.png);
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  right: 0;
  top: 1px;
}


main section:first-of-type {
  overflow: auto;
}

h1{
  font-size: 2vh;
  color: var(--steam-white);
  margin-top: 4vh;
  margin-bottom: 1vh;
}

main article{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 4vh;
  height: 19em;
  
}

main article img{
  width:  100vw;
  height: 75%;
  padding: 1vh;
  padding-bottom: 0;
  padding-left: 0;
}

main article figcaption {
  color: var(--steam-white);
  margin-top: -1vh;
  font-size: 24px;
  background: linear-gradient(180deg, #0A141D 0%, rgba(10, 20, 29, 0.2) 100%);
  height: 3em;
  padding-left: 5px;
  padding-top: 5px;
  margin-right: 1vh;
  overflow: hidden;
  
}

main section:nth-of-type(1) p{
  white-space: nowrap;
  
}

main section:nth-of-type(1) figcaption{
  width:100vw;
  padding: 10px;
}

#price{
  font-size: 10px;
  color: var(--steam-blue);
  margin-top: 1vh;
}

main section:nth-of-type(1) img{
  padding: 0;
}



main section:nth-of-type(1) div{
  display: flex;
  flex-flow: row wrap;
  font-size: 10px;
  margin-top: 1vh;
  color: var(--steam-blue);
  align-items: center;
}

main section:nth-of-type(1) div p:nth-of-type(1){
  font-size: 14px;
  background-color: var(--discount-background-color);
  color: var(--discount-color);
  padding: 2px;
}

main section:nth-of-type(1) div p:nth-of-type(2){
  color: var(--original-price-color);
  text-decoration: line-through;
}


main section:nth-of-type(1) div p:nth-of-type(2), main section:nth-of-type(1) div p:nth-of-type(3){
  background-color: rgba(0,0,0,0.6);
  background: black;
  padding: 4px;
}

h2{
  font-size: var(--header-font-size);
  color: var(--steam-white);
  margin-top: 10vh;
}

main section:nth-of-type(2){
  overflow: auto;
}

main section:nth-of-type(2) article{
  height: 28em;
}

main section:nth-of-type(2) img{
  width: 90vw;
}

main section:nth-of-type(2) p:nth-of-type(1){
  padding: 1.5vh;
  font-size: 14px;
}

main section:nth-of-type(2) p:nth-of-type(2){
  font-size: 12px;
  padding-left: 1.5vh;
  color: var(--steam-blue);
}

main section:nth-of-type(2) div:nth-of-type(1){
  display: flex;
  flex-flow: row wrap;
  font-size: 10px;
  color: var(--steam-blue);
  align-items: center;
  padding: 0;
}

main section:nth-of-type(2) div:nth-of-type(1) p:nth-of-type(1){
  font-size: 20px;
  background-color: var(--discount-background-color);
  color: var(--discount-color);
  padding: 5px;
  margin-left: 1.5vh;
}

main section:nth-of-type(2) div:nth-of-type(1) p:nth-of-type(2){
  color: var(--original-price-color);
  text-decoration: line-through;
  padding: 0;
  font-size: 10px;
}

main section:nth-of-type(2) div:nth-of-type(1) p:nth-of-type(2), main section:nth-of-type(2) div:nth-of-type(1) p:nth-of-type(3){
  background-color: rgba(0,0,0,0.6);
  background: black;
  padding: 2px;
}

main section:nth-of-type(2) figure:nth-of-type(2){
  height: 26em;
}

main section:nth-of-type(2) figure:nth-of-type(2) figcaption{
  height: 4em;
}

main section:nth-of-type(2) figure:nth-of-type(3){
  display: flex;
  flex-flow: column;
}

main section:nth-of-type(2) figcaption{
  background: url(../images/discount-bkg.jpg) bottom;
  background-repeat: no-repeat;
  background-size:cover;
}

main section:nth-of-type(2) figure:nth-of-type(3) img{
  height: 10.10em;
}

main section:nth-of-type(2) figure:nth-of-type(3) figcaption{
  background: none;
  background-color: var(--steam-contrast-blue);
  height: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: black;
}

main section:nth-of-type(2) figure:nth-of-type(3) figcaption p{
  font-size: 10px;
  color: var(--daily-deal-color);
  padding: 0;
  align-self: center;
}

main section:nth-of-type(2) figure:nth-of-type(3) div{
  display: flex;
  flex-flow: row wrap;
  font-size: 10px;
  color: var(--steam-blue);
  align-items: center;
  padding: 0;
}

main section:nth-of-type(2) figure:nth-of-type(3) div p:nth-of-type(1){
  font-size: 20px;
  background-color: var(--discount-background-color);
  color: var(--discount-color);
  padding: 5px;
  margin-left: 1.5vh;
}


main section:nth-of-type(2) figure:nth-of-type(3) div p:nth-of-type(2){
  color: var(--original-price-color);
  text-decoration: line-through;
  padding: 0;
}

main section:nth-of-type(2) figure:nth-of-type(3) div p:nth-of-type(3){
  color: var(--steam-blue);
}

main section:nth-of-type(2) figure:nth-of-type(3) div p:nth-of-type(2), main section:nth-of-type(2) figure:nth-of-type(3) div p:nth-of-type(3){
  background-color: rgba(0,0,0,0.6);
  background: black;
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 9px;
  font-size: 15px;
}

aside:nth-of-type(1) a{
  background-size: 100%;
  width: 100%;
  height: 3em;
  display: block;
}

aside:nth-of-type(1) a:nth-of-type(1){
  background: url(../images/steam-banner-1.jpg) no-repeat center;
}

aside:nth-of-type(1) a:nth-of-type(2){
  background: url(../images/steam-banner-2.jpg) no-repeat center;
  margin-top: 3vh;
}

h3{
  font-size: var(--header-font-size);
  color: var(--steam-white);
  margin-top: 12vh;

}

main section:nth-of-type(3){
  overflow: auto;
}

main section:nth-of-type(3) article{
  height: 28em;
}

main section:nth-of-type(3) img{
  height: 13em;
  box-shadow: -5px 10px 5px -5px black;
  
}

main section:nth-of-type(3) figcaption{
  height: 15em;
  font-size: 12px;
  word-break: break-all;
  display: flex;
  flex-flow: row wrap;
}

main section:nth-of-type(3) p{
  padding: 1em;
  padding-top: 2em;
}

main section:nth-of-type(3) figure{
  position: relative;
}

main section:nth-of-type(3) div{
  display: flex;
  flex-flow: column nowrap;
}

main section:nth-of-type(3) div p{
  padding: 0;
  padding-left: 1em;
  padding-bottom: 5px;
  
  color: var(--user-name-color);
}


main section:nth-of-type(3) div p:nth-of-type(1){
  padding-top: 1vh;
  font-weight: bold;
}

main section:nth-of-type(3) div p:nth-of-type(2), main section:nth-of-type(3) div p:nth-of-type(3){
  font-size: 8px;
  padding-left: 1.5em;
}

#test123{
  width: 4em;
  height: 4em;
  box-shadow: none;
  margin-left: 1em;
  margin-right: -1em;
}

#tester{
  position: absolute;
  color: var(--steam-blue);
  top: 15vh;
  right: 2vw;
  background-color: black;
  padding: 1px 15px 5px 6px;
  font-weight:normal;
}

h4{
  font-size: var(--header-font-size);
  color: var(--steam-white);
}

main section:nth-of-type(4){
  display: flex;
  flex-flow: row wrap;
  
}

main section:nth-of-type(4) button{
  font-size: 16px;
  width: 48%;
  padding: 20px;
  margin: 1%;
  margin-top: 5px;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

h5{
  font-size: var(--header-font-size);
  color: var(--steam-white);
  margin-top: 6vh;
}

main section:nth-of-type(5){
  overflow: auto;
  
}

main section:nth-of-type(5) article{
  height: 10em;
}

main section:nth-of-type(5) img{
  height: 15vh;
  width: 65vw;
  
}

main section:nth-of-type(5) figcaption{
  height: 4vh;
  background: linear-gradient(90deg, rgba(48,79,107,1) 0%, rgba(63,119,151,1) 100%, rgba(13,9,89,1) 100%);
  text-align: right;
  position: relative;
}

main section:nth-of-type(5) p{
  margin-right: 10px;
  background-color: rgba(20,31,44,0.4);
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 0;
  color: var(--user-name-color);
}

main section:nth-of-type(6) nav{
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  font-size: 14px;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: 4em;
}

main section:nth-of-type(6) p{
  margin-left: 0.5em;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 10px;
}

.newtester, .toptester, .poptester, .specialtester{
  color: #4f94bc;
}

.switchtest{
  margin-left: 0.5em;
  background-color: #2a475e;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  color: var(--steam-white);
  animation: flashSwitch 0.3s linear 0s;
}

main section:nth-of-type(6) article{
  background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
  width: 100%;
  height: 50em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

}

main section:nth-of-type(6){
  position: relative;
}

.rightslider{
  width: 2em;
  position: absolute;
  right: 0;
  top: 0.5em;
  display: block;
}

.leftslider{
  width: 2em;
  position: absolute;
  left: 0;
  top: 0.5em;
  display: none;
}

main section:nth-of-type(6) figure p{
  font-size: 12px;
  align-self: center;
  color: var(--steam-blue);
}
main section:nth-of-type(6) figure{
  display: flex;
  flex-flow: row nowrap;
  background-color: #202d39;
  background: rgba( 0, 0, 0, 0.2 );
  padding: 5px;
  
}

main section:nth-of-type(6) article img{
  width: 6em;

}

main section:nth-of-type(6) article div p{
  font-size: 10px;
  padding: 0;
  margin-left: 0;

}

main section:nth-of-type(6) article div{
  width: 9em;
  overflow: hidden;
  white-space: nowrap;
}
main section:nth-of-type(6) article div p:nth-of-type(1){
  font-size: 15px;
  padding: 0;
  padding-bottom: 3px;
  margin-left: 0;
  color: var(--low-opacity-head-color);
}

main section:nth-of-type(6) article div p:nth-of-type(2){
  color: var(--low-opacity-color);
}


main section:nth-of-type(6) article div img{
  width: 1em;
  height: 1em;
  padding: 0;
  opacity: 0.3;
}


main section:nth-of-type(6) figcaption{
  display: flex;
  color: var(--steam-white);
  margin-top: -1vh;
  font-size: 24px;
  background: none;
  height: 3em;
  padding-left: 5px;
  padding-top: 5px;
  margin-right: 1vh;
}

main section:nth-of-type(6) article:nth-of-type(2), main section:nth-of-type(6) article:nth-of-type(3), main section:nth-of-type(6) article:nth-of-type(4){
  position: absolute;
  top: 2em;
  display: none;
}

h6{
  font-size: var(--header-font-size);
  color: var(--steam-white);
  margin-top: 6vh;
}

main section:nth-of-type(7){
  overflow: auto;
  margin-top: 1vh;
}

main section:nth-of-type(7) figure{
  position: relative;

}

.playbutton, .playbutton1, .playbutton2, .playbutton3, .playbutton4, .playbutton5{
  width: 6em !important;
  height: 4em !important;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main section:nth-of-type(7) figcaption{
  background: #323E4C;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main section:nth-of-type(7) p{
  font-size: 15px;
  margin-bottom: 10px;
  color: var(--low-opacity-head-color);
}

main section:nth-of-type(7) p:nth-of-type(2){
  margin-right: 5px;
}

main section:nth-of-type(7) img{
  width: 1.2em;
  height: 1.2em;
  margin-left: auto;
  margin-bottom: 6px;
}

main section:nth-of-type(7) video{
  width: 20em;
  margin-right: 1vh;
}

h7{
  font-size: var(--header-font-size);
  color: var(--steam-white);
  margin-top: 6vh;
}

main section:nth-of-type(8){
  overflow: auto;
  
}

main section:nth-of-type(8) article{
  height: 10em;
}

main section:nth-of-type(8) img{
  height: 7em;
  width: 15em;
}

main section:nth-of-type(8) figcaption{
  height: 1.5em;
  background: linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
  display: flex;
  justify-content: flex-end;
}

main section:nth-of-type(8) p{
  margin-right: 10px;
}

main aside:nth-of-type(2){
  display: flex;
  justify-content: center;
}

main aside:nth-of-type(2) button{
  padding: 10px 25px 10px 25px;
  color: var(--steam-white);
  border: solid 2px;
  margin-left: 5px;
  background-color:var(--main-bg-color);
  margin-bottom: 5vh;
}

h8{
  font-size: var(--header-font-size);
  color: var(--steam-white);
}


main section:nth-of-type(9) article{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

main section:nth-of-type(9) img{
  height: 10em;
  width: 47vw;
}

main section:nth-of-type(9) figcaption{
  height: 1.5em;
  background: linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
  display: flex;
  justify-content: flex-end;
}

main section:nth-of-type(9) p{
  margin-right: 10px;
}

@media screen and (max-width: 1050px)
{
  header img:first-of-type{
    width: 30%;
  }
  .hamMenu1{
    width: 60%;
  }
    
}

@media screen and (min-width: 1050px)
{
  main{
    margin-right: 30vw;
    margin-left: 30vw;
  }
    
}

@keyframes flashSwitch{
  0% {background-color: #4f94bc;}
  100% {background-color: #2a475e;}
}
